.popular{
    padding-top: 3%;  
    background: rgb(245,245,245);
    padding-bottom: 3%;
}

.popularHeader{
    padding: 1rem;
    text-align: center;
    background: white;
    margin: 2px 0px;
    margin-bottom: 3%;
}

.popularHeaderTitle{
    text-align: left;
    font-weight: 700;
    font-size: 25px;    
}

.loadSpin{
    position: absolute;    
    left: 50%;
    padding-bottom: 5%;
}

.yourReview{
    background: rgb(255, 252, 204);
    padding: 1rem;
}

.reviewCard{
    box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #acacac90;
}

.reviewContent{
    padding: 1.5rem;
    text-align: center;
}

.title{
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: -1%;
    font-size: 25px;
}

.testimonialDiv{
    margin-top: 5%;
    margin-bottom: 5%;
}

.testimonialHeader{
    padding: 1.3rem;    
    text-align: center;
    background: rgb(245,245,245);
    margin: 2px 0px;
    margin-bottom: 3%;
}