.link{
    text-decoration: none !important;    
}

.careerTipsDiv{
    display: flex;
    background: rgb(245,245,245);
    padding: 0 5%;    
    padding-top: 3em; 
    padding-bottom: 3em;           
}

.careerTipsThumbnail{
    width: 450px;    
    margin-top: 10%;
}

.careerTipsInfoRight{
    margin-left: 15%;    
    margin-top: 3%;  
    width: 500px;
}

.infoHead{
    font-weight: 700;
    font-size: 20px;
}

.infoLine{
    color: '#000000';
    background-color: black;
    height: .5;
    border-color: black;
}

.infoContent{
    margin-top: 10%;    
    font-size: 14px;
}

.careerTipsDivLeft{
    background: white;
    display: flex;
    padding: 0 5%;  
    padding-top: 3em; 
    padding-bottom: 3em;             
}

.careerTipsInfoLeft{       
    margin-top: 4%;  
    width: 500px;
    margin-right: 170px;
}