.newsCards {
    background: white;
    width: 25%;
    margin: 3% 50px 2% 50px;
}

.news_img{
    height: 200px;
    object-fit: cover;
}

.newsCards h1 {
    font-size: 19px;
    padding: 0 0.5rem;
}

.newsCards p{
    margin-top: 2%;
    margin-bottom: 4%;
}

.subtitle{
    font-size: 16px;
    font-weight: 500;
    padding: 0 0.5rem;
}

.link{
    text-decoration: none;
    color: black;
}

@media (max-width: 760px) {
    .newsCards {         
        width: 40%;             
        margin: 18% 4% 5% 4%;
    }

    .newsCards h1{
        font-size: 10px;
        padding: 0 0.2rem;
    }

    .news_img{
        height: 80px; 
    }

    .newsCards p{
        font-size: 9px;
    }

    .newsCards h4{
        font-size: 8px;
    }
}