.child{
    overflow-y: scroll;    
    border: 0px solid black;  
    width: 100%;    
    box-shadow: 3px 10px 3px rgb(228, 228, 228);    
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;    
    z-index: 0;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(240, 171, 23);
    border: 1px solid wheat; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3781a; 
}