.jobPostDiv{
    margin-bottom: 2%;
}

.jobPost{
    height: 100%;   
    border-radius: 5px;
    box-shadow: 3px 3px 5px #fbff1840, 3px 3px 15px #acacac40;
}

.jobPostCard{
    color: black;
    height: 100%;    
}

.jobPoints{
    padding-bottom: 0.2rem;
    color: black;
}