.careerTipsSearch{  
    margin-top: 3%;  
}

.careerTipsScroll{
    padding-top: 3%;
}

.careertips_box{       
    padding-bottom: 3%;
}

.loadSpin{
    position: absolute;    
    left: 50%;
    padding-bottom: 5%;
}

@media(max-width: 768px){
    .latestcareertips_text{
        margin-top: 10%;
        font-size: 25px;
        margin-left: 30%;
        margin-bottom: 5%;
    }
}