.box {        
    background: white;
    width: 100%;    
}

.content{       
    padding-bottom: 5%;    
}

.content_shape{
    padding-left: 5%;
    width: 75%;
    margin-left: 15%;
}

.content_title{
    padding-top: 10%;
    font-size: 50px;    
}

.content_subtitle{
    margin-top: 1%;
    font-size: 25px;
    color: grey;    
    margin-bottom: 5%;
}

.content_img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.level{
    margin-left: 3%;
    margin-top: -2%;
}

.content_author{   
    padding: 1rem 0;     
}

.author_section{
    display: flex;
    flex-direction: row;
}

.author {        
    color: black;
    font-weight: 700;
}

.author_img{
    object-fit: cover;
    border-radius: 50%;
    height: 12vh;
    width: 6vw;
}

.level-item{
    margin-top: -20%; 
    padding-bottom: 25%;
}

.content_source{
    margin-top: 5%;
}

@media(max-width: 768px){
    .content_title{
        font-size: 20px;
    }

    .content_img{
        height: 250px;
        object-fit: contain;
    }

    .content_subtitle{
        font-size: 16px;
    }

    .author_img{
        margin-top: 50%;        
        height: 8vh;
        width: 13vw;
    }

    .level{
        margin-left: 6%;
    }

    .author{
        font-size: 14px;
    }

    .level-item{
        margin-top: -28%;
        font-size: 14px;
    }
}